.trending-container {
  width: 100%;
  padding: 5rem 7.12rem;
  color: #ffff;
  background-color: var(--bg-primary-dark);
}

.trending-text {
  margin-bottom: 3.75rem;
}

.trending-text h3 {
  font-weight: 600;
  font-size: 2.375rem;
}

.trending-text p {
  font-weight: 400;
  font-size: 22px;
}

.trending-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  overflow-x: scroll;
}
.trending-cards::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .trending-container {
    padding: 5rem 4.5rem;
  }
}
@media screen and (max-width: 450px) {
  .trending-container{
    padding: 2.5rem 1.87rem;
   
}
}